/* 
    Created on : 2017-12-13, 14:48:19
    Author     : Jacek Sańko
*/
* {
    margin: 0;
}
body {
    font-family: 'Amiko', sans-serif;
    width: 100%;
    font-size: 1.2vw;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.contener {
    padding-left: 8.33%;
    padding-right: 8.33%;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    
}
h4 {
    font-size: 1.3em;
}
.header {
    background-color: #158D88;
    padding-top: 2%;
    padding-bottom: 2%;
}
.header h1{
    padding: 2%;
}
.header h1 {
    color: white;
    text-align: center;
}

.button {
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    
}

.contener > p:nth-child(3) {
    font-size: 0.8em;
    padding-bottom: 2%;
    text-align: right;
}
#left_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:10px;
	border:1px solid #942911;
	display:inline-block;
	text-shadow:0px 1px 0px #854629;
        float: left;
}
#left_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
#left_button:active {
	position:relative;
	top:1px;
}
#right_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #38a331), color-stop(1, #186612));
	background:-moz-linear-gradient(top, #38a331 5%, #186612 100%);
	background:-webkit-linear-gradient(top, #38a331 5%, #186612 100%);
	background:-o-linear-gradient(top, #38a331 5%, #186612 100%);
	background:-ms-linear-gradient(top, #38a331 5%, #186612 100%);
	background:linear-gradient(to bottom, #38a331 5%, #186612 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a331', endColorstr='#186612',GradientType=0);
	background-color:#38a331;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:10px;
	border:1px solid #3b6e22;
	text-shadow:0px 1px 0px #477827;
        float: right;
}
#right_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #186612), color-stop(1, #38a331));
	background:-moz-linear-gradient(top, #186612 5%, #38a331 100%);
	background:-webkit-linear-gradient(top, #186612 5%, #38a331 100%);
	background:-o-linear-gradient(top, #186612 5%, #38a331 100%);
	background:-ms-linear-gradient(top, #186612 5%, #38a331 100%);
	background:linear-gradient(to bottom, #186612 5%, #38a331 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#186612', endColorstr='#38a331',GradientType=0);
	background-color:#186612;
}
#right_button:active {
	position:relative;
	top:1px;
}
#right_button, #left_button {
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 2.1em;
    font-family: 'Amiko', sans-serif;
    font-weight:bold;
    padding:1em 1em;    
    text-decoration:none;
    width: 95%;
}
.second_text_button {
    font-size: 0.5em;
}

.nav {
    color: black;
    
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 8%;;
    overflow: hidden;    
    background-color: #158D88;    
}

.nav li {
    float: left;
    border-left: 2px solid white;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
    font-family: 'Amiko', sans-serif;
    font-size: 1.5em;
}

.nav li a:hover:not(.active) {
    background-color: #48C6C1;
}

.nav li a.active {
    background-color: #075C58;
    font-size: 1.2em;
}
.nav li a.active:hover {
    background-color: #48C6C1;
}

[class*="col-"] {
    float: left;    
}

.contener h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}
#oNas {
    margin-top: 0.4%;
}
#oNas h2 {
    background-color: #48C6C1;
    color: white;
    padding: 0;
    margin-bottom: 2%;
    padding-left: 5%;
}
#zbieramyNa h2 {
    background-color: #48C6C1;
    color: white;
    padding: 0;
    margin-bottom: 2%;
    padding-left: 5%
}
.ibrasWizja:before {
    background-image:  url('../pic/logopng.png');
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-position-x: 50%;
    background-position-y: 10%;
    position: absolute;
    content: '';
    width: 60%;
    height: 100%;
    opacity: .1;
    z-index: -1;
}
.ibrasWizja {
    padding-left: 2%;
    height: 25em;
}
.ibrasInfo {
    padding-right: 10%;
    height: 25em;
}
.ibrasInfo > p:first-child {
    text-align: center;
}

#zbieramyNa .col-4, #zbieramyNa .col-8 {
    margin-top: 2%;
}

.fb-page {
    width: 100%;
    padding-left: 10%;
}

#zbieramyNa .col-8 img {
    width: 30%;
}
#zbieramyNa .col-8 {
    padding-top: 0%;
}
#zbieramyNa .col-8 p {
    text-align: center;
}
#zrobilismy h2 {
    background-color: #48C6C1;
    color: white;
    padding: 0;
    margin-bottom: 2%;
    padding-left: 5%
}
#zrobilismy {
    margin-top: 3%;
}
#zrobilismy h3 {
    margin: 2% 2%;
}
/* slider1 */
/* Position the image container (needed to position the left and right arrows) */
.containerSlides1 {
  position: relative;
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Remove bottom margin. Needed for some browsers */
img {
  margin-bottom: -4px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.video {
    padding: 0 2% 0 2%;
}
#chceWpisacKrs h2 {
    background-color: #48C6C1;
    color: white;
    padding: 0;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 5%
}
#rozliczaMnieZus h2 {
    background-color: #48C6C1;
    color: white;
    padding: 0;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 5%
}
#chceWpisacKrs img {
    width: 70%;
}
#chceWpisacKrs p, #chceWpisacKrs h3  {
    padding-top: 1%;
    text-align: center;    
}
#chceWpisacKrs img:hover {
    width: 100%;
}
#rozliczaMnieZus h3 {
    padding: 2% 0;
    text-align: center;
}
#rozliczaMnieZus a img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 1%;
}
.footer {
    margin-top: 2%;
    background-color: #158D88;
    text-align: center;
    padding-top: 2%;
    color: white;
}
.footer p {
    padding-bottom: 1%;
}

div.mobile-visible {
    display: none;   
}

/* For tabets: */
@media all and (max-width: 768px) {   
    body {
    font-size: 1.8vw;    
    }
    .ibrasInfo img {
        width: 20%;
    }
    #left_button {
        margin-left: 5%;
    }
    .nav {
        display: none;
    }
    #oNas, #chceWpisacKrs, #rozliczaMnieZus, #zbieramyNa, #zrobilismy {
        padding-top: 1%;
    }
    .ibrasWizja:before {
        display: none;
    }
    .col-3 .ibrasInfo {
        height: 2%;
    }   
    div.mobile-hidden {
        display: none;
    }
    div.mobile-visible {
        display: block;
        padding-left: 25vw;
    }
    
    #chceWpisacKrs img {
        width: 100%
    }
    [class*="col-"] {
        width: 96%;
        padding-left: 1%;
        padding-right: 0%;
    }         
    
    .video {
        padding-top: 1%;
    }
    .footer {
        width: 100%;
    }
}

/* For mobile phones: */
@media all and (max-width: 480px) {    
    body {
    font-size: 1.8vw;
    }
    .ibrasInfo img {
        width: 20%;
    }
    #left_button {
        margin-left: 5%;
    }
    .nav {
        display: none;
    }
    #oNas, #chceWpisacKrs, #rozliczaMnieZus, #zbieramyNa, #zrobilismy {
        padding-top: 1%;
    }
    .ibrasWizja:before {
        display: none;
    }
    .col-3 .ibrasInfo {
        height: 2%;
    }   
    div.mobile-hidden {
        display: none;
    }
    
    #chceWpisacKrs img {
        width: 100%
    }
    [class*="col-"] {
        width: 96%;
        padding-left: 1%;
        padding-right: 0%;
    }         
    div.mobile-visible {
        display: block;
        padding-left: 0;
    }
    
    .video {
        padding-top: 1%;
    }
    .footer {
        width: 100%;
    }
}





    